.txtred {
	color:#FF0000;
}

.txtgreen {
	color: #00CC00;
}

.text_area, .admintable {
	width: 99%;
}

.normalField {
	width: 200px;
}

.field100 {
	width: 100px;
}

.field300 {
	width: 350px;
}

.noborder {
	border: none !important;
}

.labelwidth {
	min-width: 100px !important;
}

.visformbottom {
	text-align: center;
	margin-top: 5px;
	color: #999;
	padding-top: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
}

.visadmintable td.key {
	width: 15% !important;
}

.visadmintable input.longfield {
	width: 95%;
}

.visadmintable td.value {
	width: 45%;
}

.visadmintable td.description {
	width: 40%;
}

.com_visforms .form-horizontal .noclear:after {
    clear: none;
}

#jform_defaultvalue_f_radio_default-lbl,
#jform_defaultvalue_f_select_default-lbl,
#jform_defaultvalue_f_multicheckbox_default-lbl{
	display: inline-block;

	min-width: 0;
}

#itemList {
	margin: 0;
}

.liItem {
	position: relative;
	list-style: none;
	margin-bottom: 10px;
}

.liItem > a {
	margin-left: 10px;
}

.liItem > a:first-child {
	margin-left: 0;
}

.itemForm {
	z-index: 12;
}

.btnContainer .btn {
	margin-left: 10px;
	margin-right: 10px;
}

input[type="text"].error {
    border: 1px dotted #FF0000;
}

#itemListselect, #itemListradio, #itemListmulticheckbox {
    display: table;
    width: 100%;
}

#itemListselect li, 
#itemListradio li,
#itemListmulticheckbox li {
    display: table-row;
}

#itemListselect a, #itemListselect span,
#itemListradio a, #itemListradio span,
#itemListmulticheckbox a, #itemListmulticheckbox span{
    display: table-cell;
    padding: 5px 8px;
}

#itemListselect a.itemUp, #itemListselect a.itemDown
#itemListradio a.itemUp, #itemListradio a.itemDown,
#itemListmulticheckbox a.itemUp, #itemListmulticheckbox a.itemDown{
    padding: 5px;
}

.listHeader span {
    font-weight: bold;
}
